body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Ubuntu', sans-serif;
    text-align: center;
    height: 100vh; 
    
    
}

#texto{
    color:black;
    font-size: 30px;
}

#voltar{
    border: none;
    width: 150px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 20px 2px;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(255,0,49);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#voltar:hover{
    background-color: rgb(99,0,210);
    color: white;
    transition-delay: 15ms;
}

