body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Ubuntu', sans-serif; 
    
    
}
#galinha{
    height:50%;
    width: 50%;
}

#texto{
    color:black;
    font-size: 30px;
}

#voltar{
    display: flex;
    justify-content: center;
    padding: 0.8em 0em;
    width: 200px;
    background: purple;
    border-radius: 10px;
    border: 0;
    color: #fff;
    font-size: 10pt;
    font-weight: bold;
    cursor: pointer;
    margin: 1em 2em;
    text-transform: none;
    text-decoration: none;
    background: linear-gradient(rgba(233, 0, 19, 0.918),rgba(50, 0, 112, 0.787));
}

