body{
    margin:0;
    display: grid;
    grid-template-areas: 'nav nav'
                        'header header';
    grid-auto-rows: 20vh 60vh;
}

nav{
    grid-area: nav;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background: linear-gradient(rgba(223, 0, 19, 0.918),rgba(99, 0, 112, 0.787));
}
header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blueviolet;
    background: linear-gradient(rgba(23, 21, 21, 0.35),rgba(70, 55, 72, 0.6)), url('/static/images/woman.jpg');
    background-size: cover;
    background-position: top;
    height: 100vh;
}

header h1{
    color: whitesmoke;
   
}

header div input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8em 0em;
    width: 350px;
    background: whitesmoke;
    border-radius: 50px;
    border: 0;
    color: #fff;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 1em 2em;
    text-transform: none;
    color:black;
    text-align: center;
}

header div label{
    color: whitesmoke;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

header div button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8em 0em;
    width: 350px;
    background: white;
    border-radius: 50px;
    border: 0;
    color: #fff;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 1em 2em;
    text-transform: none;
    text-decoration: none;
    background: linear-gradient(rgba(223, 0, 19, 0.918),rgba(99, 0, 112, 0.787));
    
}

header p {
    color: white;
}
 

 