body{
    margin:0;
    display: grid;
    grid-template-areas: 'nav nav'
                        'header header'
                        'section section';
    grid-auto-rows: 20vh 10vh 100vh ; 
    background-color: whitesmoke; 
    background:  url('/static/images/desk.jpg'); 
    background-size: cover;
    background-position: top;
    height: 10vh;    
}


nav{ 
    grid-area: nav;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background: linear-gradient(rgba(223, 0, 19, 0.918),rgba(99, 0, 112, 0.787));
    

}
nav a {
    color:purple;
    text-decoration: none;
}

header{
    grid-area: section;   
    display: flex;
    align-items: flex-start;    
    justify-content: flex-start;
    color: black;
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: white;
}

header p{
    color: purple;
}

section{
    grid-area: section;
    display: flex;
    align-items: center;    
    justify-content: space-around;
}

section h1{
    font-family: 'Indie Flower', cursive;
    font-family: 'Sniglet', cursive;
    font-family: 'Abel', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: blueviolet;
    text-align: center;
}
section h2{
    color: blueviolet;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

section .opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.button1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8em 0em;
    width: 350px;
    background-color: purple;
    background: linear-gradient(rgba(130, 0, 19, 0.918),rgba(50, 0, 112, 0.787));
    border-radius: 50px;
    border: 0;
    color: #fff;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 1em 2em;
    text-transform: none;
    text-decoration: none;
}