body{
    margin:0;
    font-family: 'Ubuntu', sans-serif;
}

header{
    background: url('/static/images/header.png');
    background-size: cover;
    background-position: top;
    height: 100vh;
}

header div{
    width: 50vw;
    float: right;
    color: white;

}

h1{
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    text-align: center;
    padding-top: 350px;
}

section{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 150px;
}

section div{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px 50px;
}

section div h3{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.apoio, .contrato{
    height: 200px;
}

.btnCadastre{
    text-align: center;
    margin: 50px 0px;
}

button{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(255,0,49);
    text-transform: uppercase;
    letter-spacing: 2px;
}

button:hover{
    background-color: rgb(99,0,210);
    color: white;
    transition-delay: 15ms;
}

footer{
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* animação de Fading */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}