body{
    margin:0;
    display: grid;
    grid-template-areas: 'nav nav'
                        'header header';
    grid-auto-rows: 20vh 100vh;                    
    
}

nav{
    grid-area: nav;
    background-color:red;
    display: flex;
    justify-content: space-around;
    align-content: center;

}
header{
    grid-area: header;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
    background: linear-gradient(rgba(145, 49, 57, 0.918),rgba(99, 0, 112, 0.787)), url('/static/images/woman.jpg');
    background-size: cover;
    background-position: top;
    height: 100vh;
}


header div p{
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: purple;
}

 header div input {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0.8em 0em;
    width: 350px;
    background: whitesmoke;
    border-radius: 30px;
    border: 0;
    color: #fff;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 1em 2em;
    text-transform: none;
    color: black;
    text-align: center; 
    

}

header div label{
    color: #fff;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#botao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8em 0em;
    width: 350px;
    background: purple;
    border-radius: 50px;
    border: 0;
    color: #fff;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 1em 2em;
    text-transform: none;
    text-decoration: none;
    background: linear-gradient(rgba(223, 0, 19, 0.918),rgba(99, 0, 112, 0.787));
}

#login a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8em 0em;
    width: 350px;
    background: purple;
    border-radius: 50px;
    border: 0;
    color: #fff;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 1em 2em;
    text-transform: none;
    text-decoration: none;
    background: linear-gradient(rgba(223, 0, 19, 0.918),rgba(99, 0, 112, 0.787));

}

.texto{
    color: whitesmoke ;
    font-size: 30pt; 
    height: 80px;
    text-align: center;
}

