{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>areas</title>
</head>
<body>
    <nav>
        <!-- colocar o logo -->     

        <a href="/">LOGO</a>
        <a href="/login3">VOLTAR</a>

    </nav>
    <header>
            {%  for indice in vagas %}
            <p> Seja bem-vinda {{ indice.usuaria}} ,</p>
            {% endfor %}

    </header>       

    <section>             
           
        <div class="opcoes">
            <h1>Qual área você quer seguir <br> carreira? </h1>
         </div>                

        <div class="vagas">   
            <h2> Veja como a CONECTA pode te ajudar: </h2>               

            <a href="/vagas"><button class="button1">Arquitetura e Urbanismo</button></a>
            <a href="/vagas"><button class="button1">Beleza e Estética</button></a>
            <a href="/vagas."><button class="button1">Comunicação e Artes</button></a>
            <a href="/vagas."><button class="button1">Desenvolvimento Social</button></a>              
            <a href="/vagas"><button class="button1">Gastronomia e Alimentação</button></a>                
            <a href="/vagas."><button class="button1">Gestão e Negócios</button></a>                
            <a href="/vagas"><button class="button1">Tecnologia da Informação</button></a>
            <a href="/vagas."><button class="button1">Saúde</button></a>               
            <a href="/vagas."><button class="button1">Serviços Gerais</button></a>

        </div>
        
</section>
    
</body>
</html>