{% extends "layout.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Áreas</title>
{% endblock %}
</head>
<body>
{% block body %}

    <nav>
        <a href="/"><img class="logo" src="{% static 'images/logoConecta_Colorido.png' %}" alt="logo"></a>
    </nav>
    <header>
            {%  for indice in vagas %}
            <p> Seja bem-vinda {{ indice.usuaria}} </p>
            {% endfor %}

    </header>       

    <section>                        
        <div class="opcoes">
            <h1>Qual área você quer seguir carreira? </h1>
            <h2>Comece selecionando a área desejada ao lado</h2>
         </div>                
        <div class="vagas">               
            <a href="/vagas"><button class="button1">Arquitetura e Urbanismo</button></a>
            <a href="/vagas"><button class="button1">Beleza e Estética</button></a>
            <a href="/vagas."><button class="button1">Comunicação e Artes</button></a>
            <a href="/vagas."><button class="button1">Desenvolvimento Social</button></a>              
            <a href="/vagas"><button class="button1">Gastronomia e Alimentação</button></a>                
            <a href="/vagas."><button class="button1">Gestão e Negócios</button></a>                
            <a href="/vagas"><button class="button1">Tecnologia da Informação</button></a>
            <a href="/vagas."><button class="button1">Saúde</button></a>               
            <a href="/vagas."><button class="button1">Serviços Gerais</button></a>

        </div>
        
    </section>
{% endblock %}
</body>
</html>