<!-- {% extends 'layout.html' %} -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>areas</title>
</head>
<body>
    <nav>
        <!-- colocar o logo -->
        <a href="/">Home</a>
    </nav>
    <div>
        <h2>ÁREA DE INTERESSE:</h2>     
         
        <a href="/vagas"><button>Administração</button></a>
        <a href="/vagas"><button>Comunicação</button></a>
        <a href="/vagas"><button>Humanas</button></a>
        <a href="/vagas"><button>Direito</button></a>
        <a href="/vagas"><button>Informática</button></a>
        <a href="/vagas"><button>Educação</button></a>


    </div>
    
</body>
</html>