{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
</head>
<body>
    <nav>
        <a href="/"> LOGO</a>
        <a href="/">VOLTAR</a>
    </nav>
    <header>        
        <div >
                {% if mensagem %}
                <p>{{ mensagem }}</p>
                {% endif %}
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                
            <button type="submit">Cadastrar</button>   
        </div>

              
        <h1>Cadastre-se e saiba mais!</h1>
        

    </header>
</body>
</html>