{% extends "layout.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
{% endblock %}
</head>
<body>
{% block body %}
    <nav>
        <a href="/"><img class="logo" src="{% static 'images/logoConecta_Colorido.png' %}" alt="logo"></a>
    </nav>
    <header>                
        <div class="cadastroContainer"> 
            <h2 class="texto">Cadastre-se agora!</h2>           
            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button id="botao" type="submit">CADASTRAR</button>     
            </form>        
        </div> 
        
        <div class="verticalDivider"><span class="vl-innertext">ou</span></div>

        <div id="login" class="loginContainer">   
            <h2 class="texto">Faça seu login aqui</h2> 
        
            <a href="/login3"> LOGIN</a>
        </div>

    </header>
{% endblock %}
</body>
</html>