{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <script defer src="{% static 'JS/scripts2.js' %}"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
</head>
<body>
    <nav>
        <a href="/"> LOGO</a>
        <a href="/">VOLTAR</a>
    </nav>
    <header>        
        <div >
            <h1 class="texto">Cadastre-se e saiba mais!</h1>
            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button id="botao" type="submit">CADASTRAR</button>     
            </form>        

        </div>             
        <div id="login">   
            <h1 class="texto">Agora faça o seu login aqui</h1> 
        
            <a href="/login3"> LOGIN</a>
        </div>

    </header>
</body>
</html>