{% extends "layout.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conecta</title>
</head>

<body>
{% block body %}
    <header>
        <div>
            <h1>Bem vinda ao Conecta!</h1>
            <h2>Quem somos?</h2>
            <p>Historicamente, as mulheres são oprimidas e poucas se encontram em posições de poder. Com o objetivo de mudar a situação que ainda persiste no Século XXI, nossa empresa busca trazer visibilidade e poder a todas as mulheres. 
            Conecta é um site que interliga essas mulheres em busca de uma vaga de emprego à empresas que apoiem a igualdade dentro do mercado de trabalho. </p>
        </div> 
    </header>
    <section>
        <div>
            <img class="apoio" src="{% static 'images/apoio.png' %}" alt="">
            <h3>elas apoiam</h3>
            <p>Mulheres empreendedoras se uniram à nossa causa, e juntas divulgamos vagas exclusivas para outras mulheres.</p>
        </div>
        <div>
            <img class="contrato" src="{% static 'images/contrato.png' %}" alt="">
            <h3>elas contratam</h3>
            <p>Diversas empresas já contrataram essas mulheres, como: Coopertronics, Bar Das, Botânica, CuidBem Cuidadores de Pessoas, Valeria Fisioterapia, Milene Stefânia Arquitetura, G&G Assessoria Contábil, Wapiya Gestão de Pessoas e Diversidade e Vá pro Interior.</p>
        </div>
    </section>
    
    <div class="btnCadastre">
        <button>Comece Já!</button>
    </div>

<div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="{% static 'images/slider1.png' %}" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="{% static 'images/slider2.png' %}" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="{% static 'images/slider3.png' %}" style="width:100%">
    </div>
  
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <div style="text-align:center;margin-top:20px">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div>

{% endblock %}
</body>
</html>
