{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conecta</title>
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="{% static 'images/logoConecta_Branco.png' %}" alt="logo">
            <div class="menu">
                <ul>
                    <li><a href="/login3">Login</a></li>
                    <li><a href="/cadastro">Cadastro</a></li>
                    <li><a href="/cadastro">Sobre</a></li>
                    <li><a href="/cadastro">Contato</a></li>

                </ul>
            </div>
        </nav>
        <div>
            <h1>Bem vinda ao Conecta!</h1>
            <h2>Quem somos?</h2>
            <p>Historicamente, as mulheres são oprimidas e poucas se encontram em posições de poder. Com o objetivo de mudar a situação que ainda persiste no Século XXI, nossa empresa busca trazer visibilidade e poder a todas as mulheres. 
            Conecta é um site que interliga essas mulheres em busca de uma vaga de emprego à empresas que apoiem a igualdade dentro do mercado de trabalho. </p>
        </div> 
    </header>
    <section>
        <div>
            <h3>elas apoiam</h3>
            <p>Mulheres empreendedoras se uniram à nossa causa, e juntas divulgamos vagas exclusivas para outras mulheres.</p>
        </div>
        <div>
            <h3>elas contratam</h3>
            <p>Diversas empresas já contrataram essas mulheres, como: Coopertronics, Bar Das, Botânica, CuidBem Cuidadores de Pessoas, Valeria Fisioterapia, Milene Stefânia Arquitetura, G&G Assessoria Contábil, Wapiya Gestão de Pessoas e Diversidade e Vá pro Interior.</p>
        </div>
    </section>

    <button>Cadastre-se</button>

    <footer>
        <p>@Conecta | Todos os direitos reservados</p>
    </footer>

</body>
</html>
