{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style5.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vagas</title>
</head>
<body>
    <nav>
        <a href="/">LOGO</a>
        <a href="/areas">VOLTAR</a>
    </nav>
    <header>
        <h1>Vagas</h1>   
                <!-- ver porque não esta funcionando              -->
                <!-- <ul>hjhj
                {% for empresa in empresas %}
                <li>{{empresas.nome}}</li>
                {% endfor %} 
            </ul> -->
    </header>

    
</body>
</html>