{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style6.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Conecta</title>
</head>
<body>
    <img src="https://img.icons8.com/material/96/000000/nothing-found--v2.png">
    <div>
        <h1 id="texto">Infelizmente não há vagas para esta área no momento.</h1>  
        <a id="voltar" href="/areas">VOLTAR</a> 
    </div>
</body>
</html>