{% extends "layout.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style5.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vagas</title>
{% endblock %}
</head>
<body>
{% block body %}
    <header>
            <h3>Vagas em aberto:</h3>
        
    </header>

    <main>  
            {% for empresa in vaga %}
            <div class="card">            
                <p><b>Nome:</b> {{empresa.nome}}</p>
                <p><b>Endereço:</b>{{empresa.endereco}}</p>
                <p><b>Cargo:</b> {{empresa.cargo}}</p> 
                <p><b>Estado:</b>{{empresa.estado}}</p> 
                <p><b>Salário:</b> {{empresa.salario}}</p> 
                <p><b>Vagas:</b> {{empresa.qtd_vaga}}</p>
                <p><b>Descrição das vagas:</b> {{empresa.Descricao_vaga}}</p>   
                <div id="button">
                    <button id="button2">Quero me candidatar!</button>
                </div>  
            </div>
            {% endfor %}
    </main>
{% endblock %}
</body>
</html> 