{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style6.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <img id="galinha"  alt="oh no you didnt GIF by happydog"  src="https://media2.giphy.com/media/ftqLysT45BJMagKFuk/200.webp?cid=790b76115d28f30f5a49614b4dd27242&amp;rid=200.webp" class="sc-bZQynM dxfFkd">
    <div>
    <h1 id="texto">Poxa! Não há vagas no momento ;(</h1>  
    <a id="voltar" href="/areas">VOLTAR</a> 
    </div>
</body>
</html>